<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.author.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          
        </ul>
      </div>

      <div class="footer-col-3">
        <!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/bapfeld" aria-label="bapfeld on GitHub">bapfeld</a>
          
      </div>
    </div>

  </div>
  
</footer>